html, body {
    margin: 0;
    padding: 0;
    border: 0;
    background: #EEE;
    width: 100%;
    height: 100%;
   font-family: Roboto-Light, sans-serif;
}

.header {
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    box-sizing: border-box;
    padding: 0 75px 0 0;
    background: rgba(255, 255, 255, 1);
    border-top: 3px solid steelblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.header-spacer {
    height: 100%;
    width: 75px;
    float: left;
}

.header-logo {
    height: 100%;
    display: inline-block;
    float: left;
}

.header-logo-img {
    height: 40px;
    margin-top: 20px;
    float: left;
}

.section {
    width: 100%;
    float: top;
    background: #EEE;
    display: inline-block;
}

.section-header-spacer {
    height: 80px;
}

.header-links {
    display: inline-block;
    margin-top: 10px;
    padding: 17.5px 15px 17.5px 15px;
    box-sizing: border-box;
    font-size: 18px;
    float: right;
    color: #000;
   
}

.header-links:hover {
    background: rgba(0, 0, 0, 0.02);
    color: steelblue !important;
}

.action-button {
    border-radius: 5px;
    background: steelblue;
    border: 2px solid rgba(0, 0, 0, 0);
    padding: 7px 12px 7px 12px;
    margin: 5px;
    margin-top: 20px;
    color: #FFF;
    font-size: 16px;
   
    display: inline-block;
    float: right;

}

.clickable {
    cursor: pointer;
}

.action-button:hover {
    background: #3a7489;
    color: #FFF;
}

/*******************************/
/* LOGIN OVERLAY
/*******************************/

.loginOverlay {
    width: 100%;
    height: 100%;
    min-width: 300px;
    min-height: 300px;
    background: rgba(0, 0, 0, 0.85);
    position: fixed;
    z-index: 9999;
    text-align: center;
}

.loginContainer {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 400px;
    min-height: 520px;
    display: inline-block;
    border-radius: 10px;
    float: top;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 0 100px rgba(70, 130, 180, 0.6);
}

.loginLogoContainer {
    width: 100%;
    height: 200px;
}

.loginTitleContainer {
    height: 60px;
    float: top;
    width: 100%;
    font-family: Roboto-Thin, sans-serif;
    color: #333;
    text-align: center;
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 20px;
    padding-top: 20px;
    box-sizing: border-box;
}

.registerButton, .googleLogin {
    cursor: pointer;
    background: #468fde;
    vertical-align: top;
    display: inline-block;
    height: 60px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 2px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    color: #FFF;
    font-size: 20px;
}

.registerButton {
    width: 270px;
    font-size: 16px;
    background: #DDD;
    color: #555;
    padding: 22px 10px 22px 10px;
}

.loginLogo {
    height: 200px;
    margin: 0 auto;
    margin-top: 30px;
}

.alertMessage {
    margin: 0 auto;
    padding: 16px 25px 18px 25px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: inline-block;
    box-sizing: border-box;
    height: 50px;
    background: #333;
    font-size: 17px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 10px;
    z-index: 999;
}

.loginClose {
    position: absolute;
    font-size: 25px;
    color: #DDD;
    margin-left: 350px;
    width: 50px;
    height: 50px;
    padding: 12.5px;
    box-sizing: border-box;
    transition: all ease .5s;
    cursor: pointer;
}

.loginClose:hover {
    background: #EEE;
}

.inputBox {
    width: 300px;
    margin: 0 auto;
    margin-top: 10px;
    outline: none;
    border: 0;
    background: #F8F8F8;
    color: black;
    height: 60px;
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    border-radius: 2px;
}

/*******************************/
/* END OF LOGIN OVERLAY
/*******************************/

.pageTitle {
    color: steelblue;
    margin-top: 7px;
    height: 60px;
    float: left;
    box-sizing: border-box;
    padding: 20px;
    font-size: 20px;
    font-family: Roboto-Regular, sans-serif;
}

.accountContainer {
    width: 100%;
    height: calc(100% - 80px);
    overflow: auto;
    box-sizing: border-box;
    padding: 30px;
    text-align: center;
}

.accountPanel {
    background: white;
    margin: 30px;
    width: 350px;
    height: 350px;
    box-shadow: 0 0 40px rgba(0, 0, 0, .2);
    box-sizing: border-box;
    padding: 50px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
}

.accountPanel > .fa-user-circle {
    font-size: 100px;
    color: #DDD;
}

.user-name, .user-email, .user-community {
    font-family: Roboto-Thin, sans-serif;
    margin-top: 2px;
    font-size: 15px;
}

.user-name {
    font-size: 25px;
    margin-top: 20px;
   
}

.user-community {
    margin-top: 10px;
   
    color: steelblue;
}

.panel-title {
    font-size: 30px;
    color: #555;
    font-family: Roboto-Thin, sans-serif;
}

.panel-count {
    font-size: 120px;
    margin-top: 20px;
    color: #AAA;
    font-family: Roboto-Thin, sans-serif;
}

.white {
    color: white;
}

.menu-button {
    padding: 11px 15px 13px 15px;
    float: left;
    margin-left: 30px;
    margin-right: 30px;
}


.overlay {
    width: 100%;
    height: 100%;
    z-index: 700;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    box-sizing: border-box;
    padding-top: 80px;
}

.overlayTitleBar {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #eee;
}

.overlayClose {
    font-size: 25px;
    color: #BBB;
    float: right;
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-right: 80px;
    padding: 12px 15px 12px 15px;
    box-sizing: border-box;
    transition: all ease .2s;
    cursor: pointer;
}

.overlayClose:hover {
    background: #EEE;
    color: #AAA;
}

.overlayTitle {
    font-size: 30px;
    padding: 25px 80px 25px 80px;
    display: inline-block;
    float: left;
}

.overlayContent {
    width: 100%;
    overflow: auto;
    height: calc(100% - 80px);
    padding: 0 80px 0 80px;
    box-sizing: border-box;
    text-align: left;
    padding-bottom: 50px;
}

.scheduleBlock {
    padding: 20px;
    height: 80px;
    float: top;
    box-sizing: border-box;
    width: 500px;
    margin-top: 15px;
    background: #EEE;
    font-size: 20px;
}