<div style="width: 100%; height: 100%; background: url('images/background.png');">
    <div class="section section-header-spacer"></div>

    <div class="accountContainer">
        <div class="accountPanel animated fadeInUp" style="animation-delay: 0s;">
            <i class="fa fa-user-circle"></i><br>
            <div class="user-name">{{ user.name }}</div>
            <div class="user-email">{{ user.email }}</div>
            <div class="user-community">Illinois Institute of Technology</div>
            <div class="action-button clickable" style="float: unset;">Account Settings</div>
        </div>

        <div class="accountPanel animated fadeInUp" style="animation-delay: 0.1s; padding-left: 20px; padding-right: 20px; background: steelblue">
            <div class="panel-title white">My Schedules</div>
            <div class="panel-count white">0</div>
            <div class="action-button clickable" style="background: white; color: #000; float: unset;">
                View Schedules
            </div>
            <div class="action-button clickable" style="background: white; color: #000; float: unset;" ng-click="go('/schedules')">
                Make Schedule
            </div>
        </div>

        <div class="accountPanel animated fadeInUp" style="animation-delay: 0.2s;" ng-click="">
            <div class="panel-title">Professor Search</div>
            <div class="panel-count">{{}}</div>
            <div class="action-button clickable" style="float: unset;">Search Professors</div>
        </div>
        <div class="accountPanel animated fadeInUp" style="animation-delay: 0.3s;" ng-click="">
            <div class="panel-title">Class Search</div>
            <div class="panel-count">{{}}
            </div>
            <div class="action-button clickable" style="float: unset;">Search Classes</div>
        </div>

        <div class="accountPanel animated fadeInUp" style="animation-delay: .4s; background: darkslategray;">
            <div class="panel-title white">Degree Progress</div>
            <div class="panel-count white">0</div>
            <div class="action-button clickable" style="background: white; color: #000;float: unset;">View Progress</div>
        </div>
    </div>

</div>
