<div style="width: 100%; height: 100%; background: #FFF;">
    <div class="section section-header-spacer"></div>

    <style>
        .schedule-container {
            width: 100%;
            min-height: 600px;
            height: calc(100% - 120px - 80px);
            margin: 0 auto;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        }

        .schedule-time-container {
            width: 150px;
            float: left;
            background: #333;
            height: 100%;
        }

        .schedule-days {
            width: calc((100% - 150px) / 7 - 1px);
            height: 100%;
            background: white;
            float: left;
            border-left: 1px solid rgba(0, 0, 0, 0.05);
            overflow: hidden;
        }

        .schedule-dayofweek {
            width: 100%;
            float: top;
            height: 35px;
            background: #FFF;
            text-align: center;
            box-sizing: border-box;
            padding: 12px;
            font-size: 12px;
            color: #333;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .schedule-time {
            width: 100%;
            float: top;
            height: calc((100% - 35px) / 8);
            background: #555;
            text-align: center;
            box-sizing: border-box;
            font-size: 12px;
            color: #CCC;
        }

        .vertical-aligner {
            position: relative;
            top: 50%;
            transform: translateY(-50%)
        }

        .schedule-time:nth-child(2n+3) {
            background: #444
        }

        .action-bar-button {
            display: inline-block;
            height: 50px;
            float: right;
            font-size: 16px;
            color: #333;
            text-align: center;
            margin-top: 10px;
            cursor: pointer;
            box-sizing: border-box;
            padding: 16px 25px 22px 25px;
            border-radius: 10px;
            margin-right: 5px;
        }

        .action-bar-button:hover {
            background: rgba(0, 0, 0, 0.1);
        }

        .name-container {
            width: 100%;
            height: 120px;
            background: #EEE;
            box-sizing: border-box;
            padding: 30px 80px 30px 80px;
        }

        .schedule-name {
            width: 100%;
            font-size: 30px;
            font-family: Roboto-Regular, sans-serif;
        }

        .savedTime, .schedule-credits {
            width: 100%;
            font-size: 15px;
        }

        .schedule-credits {
            color: steelblue;
            font-family: Roboto-Regular, sans-serif;
        }

        .schedule-name-input {
            padding: 0;
            outline: none;
            border: 0;
            min-width: 250px;
            width: 250px;
            display: inline-block;
            font-size: 30px;
            background: rgba(0, 0, 0, 0);
            cursor: pointer;
            transition: all ease .1s;
        }

        .schedule-name-input:focus {
            background: white;
        }

        .schedule-class-container {
            width: 100%;
            height: calc((100% - 35px) / 8);
            box-sizing: border-box;
            padding: 8px 20px 8px 20px;
            border-top: 1px solid rgba(0, 0, 0, 0.03);
            border-bottom: 1px solid rgba(0, 0, 0, 0.03);
        }

        .normalBox {

        }

        .x2Box {
            height: calc(((100% - 35px) / 8) * 2);
            padding: 35px 20px 35px 20px;
        }

        .smallBox {
            height: calc(((100% - 35px) / 8) - 15px);
            margin-bottom: 15px;
            padding: 3px 20px 3px 20px;
        }

        .schedule-class-code {
            font-size: 20px;
            width: 100%;
            font-family: Roboto-Regular, sans-serif;
        }

        .schedule-class-name {
            font-size: 12px;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .schedule-class-time {
            font-size: 10px;
            width: 100%;
            margin-top: 2px;
            opacity: .7;
        }
    </style>

    <div class="name-container animated fadeIn">
        <div style="float: left;">
            <div class="savedTime animated fadeInLeft">
                Last Saved: {{ currentSchedule.timeSaved | date:'hh:mm:ss a on dd/MM/yyyy' }}
            </div>
            <div class="schedule-name animated fadeInLeft">
                <input class="schedule-name-input" placeholder="Untitled Schedule"
                       onkeypress="this.style.width = ((this.value.length + 9) * 10) + 'px';"
                       ng-model="currentSchedule.name"> &nbsp;
                <i class="fa fa-pencil clickable" style="color: #AAA;"></i>
            </div>
            <div class="schedule-credits animated fadeInLeft">{{ currentSchedule.credits }} Credit Hours</div>
        </div>
        <div style="float: right">
            <div class="action-bar-button animated fadeInLeft" ng-click="doneSchedule()"
                 style="animation-delay: .6s;"><i
                    class="fa fa-check"></i>&nbsp;
                Done
            </div>
            <div class="action-bar-button animated fadeInLeft" ng-click="saveSchedule()"
                 style="animation-delay: .5s;"><i
                    class="fa fa-save"></i>&nbsp;
                Save
            </div>
            <div class="action-bar-button animated fadeInLeft" ng-click="deleteSchedule()"
                 style="animation-delay: .4s;"><i class="fa fa-trash"></i>&nbsp;
                Delete
            </div>
            <div class="action-bar-button animated fadeInLeft" style="animation-delay: .3s;"><i
                    class="fa fa-refresh"></i>&nbsp;
                Reset
            </div>
            <div class="action-bar-button animated fadeInLeft" ng-click="showOverlay(overlays.selectClasses)"
                 style="animation-delay: .2s;"><i class="fa fa-magic"></i>&nbsp;
                Schedule Wizard
            </div>
            <div class="action-bar-button animated fadeInLeft" style="animation-delay: .1s;"><i class="fa fa-plus"></i>&nbsp;
                Add Class
            </div>
        </div>
    </div>

    <div class="schedule-container animated fadeIn">
        <div class="schedule-time-container animated fadeInLeft">
            <div class="schedule-dayofweek" style="background: #333; color: white;">
                Time Slots
            </div>
            <div class="schedule-time">
                <div class="vertical-aligner">08:35 AM - 09:50 AM</div>
            </div>
            <div class="schedule-time">
                <div class="vertical-aligner">10:00 AM - 11:15 AM</div>
            </div>
            <div class="schedule-time">
                <div class="vertical-aligner">11:25 AM - 12:40 PM</div>
            </div>
            <div class="schedule-time">
                <div class="vertical-aligner">01:50 PM - 03:05 PM</div>
            </div>
            <div class="schedule-time">
                <div class="vertical-aligner">03:15 PM - 04:30 PM</div>
            </div>
            <div class="schedule-time">
                <div class="vertical-aligner">05:00 PM - 06:15 PM</div>
            </div>
            <div class="schedule-time">
                <div class="vertical-aligner">06:25 PM - 07:40 PM</div>
            </div>
            <div class="schedule-time">
                <div class="vertical-aligner">07:50 PM - 09:05 PM</div>
            </div>
        </div>

        <div class="schedule-days animated fadeInRight" style="animation-delay: 1.1s;">
            <div class="schedule-dayofweek">Sunday</div>

            <div ng-repeat="class in currentSchedule.sunday" class="animated fadeInUp"
                 style="animation-delay: {{ 1 + $index*0.1 }}s;">
                <div class="schedule-class-container" ng-show="class.spacer"></div>
                <div class="schedule-class-container {{ class.boxSize }}" ng-show="!class.spacer"
                     style="background: {{ class.color.background }}; color: {{ class.color.color }};">
                    <div class="schedule-class-code">{{class.subject}} {{class.course}}</div>
                    <div class="schedule-class-name">{{ class.title }}</div>
                    <div class="schedule-class-time">{{ class.times }}</div>
                </div>
            </div>

        </div>

        <div class="schedule-days animated fadeInRight" style="animation-delay: 1.2s;">

            <div class="schedule-dayofweek">Monday</div>

            <div ng-repeat="class in currentSchedule.monday" class="animated fadeInUp"
                 style="animation-delay: {{ 1 + $index*0.1 }}s;">
                <div class="schedule-class-container" ng-show="class.spacer"></div>
                <div class="schedule-class-container {{ class.boxSize }}" ng-show="!class.spacer"
                     style="background: {{ class.color.background }}; color: {{ class.color.color }};">
                    <div class="schedule-class-code">{{class.subject}} {{class.course}}</div>
                    <div class="schedule-class-name">{{ class.title }}</div>
                    <div class="schedule-class-time">{{ class.times }}</div>
                </div>
            </div>
        </div>

        <div class="schedule-days animated fadeInRight" style="animation-delay: 1.3s;">
            <div class="schedule-dayofweek">Tuesday</div>

            <div ng-repeat="class in currentSchedule.tuesday" class="animated fadeInUp"
                 style="animation-delay: {{ 1 + $index*0.1 }}s;">
                <div class="schedule-class-container" ng-show="class.spacer"></div>
                <div class="schedule-class-container {{ class.boxSize }}" ng-show="!class.spacer"
                     style="background: {{ class.color.background }}; color: {{ class.color.color }};">
                    <div class="schedule-class-code">{{class.subject}} {{class.course}}</div>
                    <div class="schedule-class-name">{{ class.title }}</div>
                    <div class="schedule-class-time">{{ class.times }}</div>
                </div>
            </div>
        </div>

        <div class="schedule-days animated fadeInRight" style="animation-delay: 1.4s;">
            <div class="schedule-dayofweek">Wednesday</div>

            <div ng-repeat="class in currentSchedule.wednesday" class="animated fadeInUp"
                 style="animation-delay: {{ 1 + $index*0.1 }}s;">
                <div class="schedule-class-container" ng-show="class.spacer"></div>
                <div class="schedule-class-container {{ class.boxSize }}" ng-show="!class.spacer"
                     style="background: {{ class.color.background }}; color: {{ class.color.color }};">
                    <div class="schedule-class-code">{{class.subject}} {{class.course}}</div>
                    <div class="schedule-class-name">{{ class.title }}</div>
                    <div class="schedule-class-time">{{ class.times }}</div>
                </div>
            </div>
        </div>

        <div class="schedule-days animated fadeInRight" style="animation-delay: 1.5s;">
            <div class="schedule-dayofweek">Thursday</div>

            <div ng-repeat="class in currentSchedule.thursday" class="animated fadeInUp"
                 style="animation-delay: {{ 1 + $index*0.1 }}s;">
                <div class="schedule-class-container" ng-show="class.spacer"></div>
                <div class="schedule-class-container {{ class.boxSize }}" ng-show="!class.spacer"
                     style="background: {{ class.color.background }}; color: {{ class.color.color }};">
                    <div class="schedule-class-code">{{class.subject}} {{class.course}}</div>
                    <div class="schedule-class-name">{{ class.title }}</div>
                    <div class="schedule-class-time">{{ class.times }}</div>
                </div>
            </div>

        </div>

        <div class="schedule-days animated fadeInRight" style="animation-delay: 1.6s;">
            <div class="schedule-dayofweek">Friday</div>

            <div ng-repeat="class in currentSchedule.friday" class="animated fadeInUp"
                 style="animation-delay: {{ 1 + $index*0.1 }}s;">
                <div class="schedule-class-container" ng-show="class.spacer"></div>
                <div class="schedule-class-container {{ class.boxSize }}" ng-show="!class.spacer"
                     style="background: {{ class.color.background }}; color: {{ class.color.color }};">
                    <div class="schedule-class-code">{{class.subject}} {{class.course}}</div>
                    <div class="schedule-class-name">{{ class.title }}</div>
                    <div class="schedule-class-time">{{ class.times }}</div>
                </div>
            </div>
        </div>

        <div class="schedule-days animated fadeInRight" style="animation-delay: 1.7s;">
            <div class="schedule-dayofweek">Saturday</div>

            <div ng-repeat="class in currentSchedule.saturday" class="animated fadeInUp"
                 style="animation-delay: {{ 1 + $index*0.1 }}s;">
                <div class="schedule-class-container" ng-show="class.spacer"></div>
                <div class="schedule-class-container {{ class.boxSize }}" ng-show="!class.spacer"
                     style="background: {{ class.color.background }}; color: {{ class.color.color }};">
                    <div class="schedule-class-code">{{class.subject}} {{class.course}}</div>
                    <div class="schedule-class-name">{{ class.title }}</div>
                    <div class="schedule-class-time">{{ class.times }}</div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .wizard-question {
            font-size: 35px;
            float: top;
            margin-top: 50px;
            margin-bottom: 25px;
            color: #555;
            font-family: Roboto-Thin, sans-serif;
        }

        .optionContainer {
            width: 700px;
        }

        .option {
            display: inline-block;
            box-sizing: border-box;
            padding: 15px 25px 15px 25px;
            border-radius: 10px;
            background: #FFF;
            margin-right: 5px;
            cursor: pointer;
            transition: all ease .3s;
        }

        .option:hover {
            background: rgba(83, 129, 176, .2);
        }

        .optimizationBox {
            float: right;
            margin-right: 60px;
            width: 500px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            height: 550px;
            background: white;
            box-sizing: border-box;
            padding: 50px;
        }

        .optimize-option {
            font-size: 25px;
            margin-top: 30px;
            color: #555;
            font-family: Roboto-Thin, sans-serif;
        }

        .generateButton {
            float: unset;
            padding: 15px 45px 15px 45px;
            font-size: 20px;
        }

        .selectedOption {
            background: steelblue;
            color: white;
        }
    </style>
    <div class="overlay animated fadeInUp" style="animation-duration: .5s; background: #EEE;"
         ng-show="overlayShow.overlay">

        <div ng-show="overlayShow.pages[overlays.scheduleWizard]">
            <div class="overlayTitleBar">
                <div class="overlayTitle">Schedule Wizard (Step 2)</div>
                <div class="overlayClose">
                    <i class="fa fa-close" ng-click="closeOverlay()"></i>
                </div>
            </div>
            <div class="overlayContent">

                <div style="float: left">
                    <br>
                    <div class="wizard-question">How many credits do you want to take?</div>
                    <div class="optionContainer">
                        <div class="option" ng-class="{'selectedOption': wizardParams.credits === 0}"
                             ng-click="updateCredits(0);">3 - 6
                        </div>
                        <div class="option" ng-class="{'selectedOption': wizardParams.credits === 1}"
                             ng-click="updateCredits(1);">6 - 9
                        </div>
                        <div class="option" ng-class="{'selectedOption': wizardParams.credits === 2}"
                             ng-click="updateCredits(2);">9 - 12
                        </div>
                        <div class="option" ng-class="{'selectedOption': wizardParams.credits === 3}"
                             ng-click="updateCredits(3);">12 - 15
                        </div>
                        <div class="option" ng-class="{'selectedOption': wizardParams.credits === 4}"
                             ng-click="updateCredits(4);">15 - 18
                        </div>
                        <div class="option" ng-class="{'selectedOption': wizardParams.credits === 5}"
                             ng-click="updateCredits(5);">18 - 21
                        </div>
                        <div class="option" ng-class="{'selectedOption': wizardParams.credits === 6}"
                             ng-click="updateCredits(6);">Auto
                        </div>
                    </div>
                    <div class="wizard-question">What should the difficulty level be?</div>
                    <div class="optionContainer">
                        <div class="option" ng-class="{'selectedOption': wizardParams.difficulty === 0}"
                             ng-click="updateDifficulty(0);">Easy
                        </div>
                        <div class="option" ng-class="{'selectedOption': wizardParams.difficulty === 1}"
                             ng-click="updateDifficulty(1);">Medium
                        </div>
                        <div class="option" ng-class="{'selectedOption': wizardParams.difficulty === 2}"
                             ng-click="updateDifficulty(2);">Hard
                        </div>
                        <div class="option" ng-class="{'selectedOption': wizardParams.difficulty === 3}"
                             ng-click="updateDifficulty(3);">Auto
                        </div>
                    </div>
                    <div class="wizard-question">What times do you prefer?</div>
                    <div class="optionContainer">
                        <div class="option" ng-class="{'selectedOption': wizardParams.times[0]}"
                             ng-click="updateTimes(0);">Morning
                        </div>
                        <div class="option" ng-class="{'selectedOption': wizardParams.times[1]}"
                             ng-click="updateTimes(1);">Afternoon
                        </div>
                        <div class="option" ng-class="{'selectedOption': wizardParams.times[2]}"
                             ng-click="updateTimes(2);">Evening
                        </div>
                        <div class="option" ng-class="{'selectedOption': wizardParams.times[3]}"
                             ng-click="updateTimes(3);">Night
                        </div>
                        <div class="option" ng-class="{'selectedOption': wizardParams.times[4]}"
                             ng-click="updateTimes(4);">Auto
                        </div>
                    </div>
                </div>

                <div class="optimizationBox">
                    <span style="font-size: 30px; font-family: Roboto-Thin;">Optimizations</span><br>

                    <div class="optimize-option clickable" ng-click="updateOptimize(0);">
                        <i class="fa fa-toggle-on fa-rotate-180" ng-show="!wizardParams.optimize[0]"></i>
                        <i class="fa fa-toggle-on" style="color: #67BC88;" ng-show="wizardParams.optimize[0]"></i>
                        &nbsp; Minimize Gaps
                    </div>
                    <div class="optimize-option clickable" ng-click="updateOptimize(1);">
                        <i class="fa fa-toggle-on fa-rotate-180" ng-show="!wizardParams.optimize[1]"></i>
                        <i class="fa fa-toggle-on" style="color: #67BC88;" ng-show="wizardParams.optimize[1]"></i>
                        &nbsp; Maximize Gaps
                    </div>
                    <div class="optimize-option clickable" ng-click="updateOptimize(2);">
                        <i class="fa fa-toggle-on fa-rotate-180" ng-show="!wizardParams.optimize[2]"></i>
                        <i class="fa fa-toggle-on" style="color: #67BC88;" ng-show="wizardParams.optimize[2]"></i>
                        &nbsp; Popular Classes
                    </div>
                    <div class="optimize-option clickable" ng-click="updateOptimize(3);">
                        <i class="fa fa-toggle-on fa-rotate-180" ng-show="!wizardParams.optimize[3]"></i>
                        <i class="fa fa-toggle-on" style="color: #67BC88;" ng-show="wizardParams.optimize[3]"></i>
                        &nbsp; Internet Classes
                    </div>
                    <div class="optimize-option clickable" ng-click="updateOptimize(4);">
                        <i class="fa fa-toggle-on fa-rotate-180" ng-show="!wizardParams.optimize[4]"></i>
                        <i class="fa fa-toggle-on" style="color: #67BC88;" ng-show="wizardParams.optimize[4]"></i>
                        &nbsp; High Rated Professors
                    </div>

                    <br>
                    <br>

                    <div class="action-button generateButton clickable" style="color: #AAA; background: #EEE;"
                         ng-click="closeOverlay()">Cancel
                    </div>
                    <div class="action-button generateButton clickable" style="background: #67BC88"
                         ng-click="generateSchedule()">Generate
                    </div>

                </div>

            </div>
        </div>

        <style>
            .class-select {
                width: 500px;
                outline: none;
                border: 0;
                height: 400px;
            }

            .class-select > option {
                height: 40px;
                box-sizing: border-box;
                padding: 10px;
            }
        </style>


        <div ng-show="overlayShow.pages[overlays.selectClasses]">
            <div class="overlayTitleBar">
                <div class="overlayTitle">Schedule Wizard (Step 1)</div>
                <div class="overlayClose">
                    <i class="fa fa-close" ng-click="closeOverlay()"></i>
                </div>
            </div>
            <div class="overlayContent">
                <div class="wizard-question">Select classes you're interested in</div>

                <select multiple ng-model="selectedClasses" ng-options="myclass.subject + ' ' + myclass.course for myclass in classes" class="class-select">
                    <!--<option ng-repeat="class in classes" class="class-select-option">
                        {{ class.subject + " " + class.course }} [{{ class.title }}]
                    </option>-->
                </select>

                <br><br>

                <div class="action-button generateButton clickable" style="color: #AAA; background: #FFF;"
                     ng-click="closeOverlay()">Cancel
                </div>
                <div class="action-button generateButton clickable" style="background: #67BC88"
                     ng-click="showOverlay(overlays.scheduleWizard); test();">Next
                </div>
            </div>
        </div>
    </div>


</div>