<div style="width: 100%; height: 100%; background: url('images/background.png');">
    <div class="section section-header-spacer"></div>

    <div class="accountContainer">

        <div class="accountPanel animated fadeInUp" style="animation-delay: 0.2s; background: steelblue" ng-click="">
            <div class="panel-title white">My Schedules</div>
            <div class="panel-count white">{{ mySchedules.length }}</div>
            <div class="action-button clickable" style="background: white; color: #000; float: unset;"
                 ng-click="showOverlay(overlays.viewSchedules)">View All
            </div>
        </div>

        <div class="accountPanel animated fadeInUp" style="animation-delay: 0.2s;" ng-click="">
            <div class="panel-title">Create Schedules</div>
            <div class="panel-count"></div>
            <div class="action-button clickable" style=" float: unset;">From Template</div>
            <div class="action-button clickable" style="float: unset;" ng-click="go('newSchedule')">Blank Schedule</div>
        </div>

        <div class="accountPanel animated fadeInUp" style="animation-delay: .4s; background: darkslategray;">
            <div class="panel-title white">Saved Drafts</div>
            <div class="panel-count white">{{ myDraftSchedules.length }}</div>
            <div class="action-button clickable" style="background: white; color: #000;float: unset;"
                 ng-click="showOverlay(overlays.viewDrafts)">View All
            </div>
        </div>
    </div>

    <div class="overlay animated fadeInUp" style="animation-duration: .5s;" ng-show="overlayShow.overlay">

        <div ng-show="overlayShow.pages[overlays.viewSchedules]">
            <div class="overlayTitleBar">
                <div class="overlayTitle">My Schedules</div>
                <div class="overlayClose">
                    <i class="fa fa-close" ng-click="closeOverlay()"></i>
                </div>
            </div>
            <div class="overlayContent">
                <div class="scheduleBlock" ng-repeat="schedule in mySchedules">
                    {{ schedule.name }} <br>
                    <span style="font-size: 15px; color: steelblue;">Saved at {{ schedule.timeSaved | date:"hh:mm:ss a on dd/MM/yyyy" }}</span><br><br>
                    <span style="font-size: 15px; font-family: Roboto-Medium,sans-serif; color: steelblue;" class="clickable">
                        <i class="fa fa-eye"></i> &nbsp; VIEW</span>
                    <div ng-click="deleteSavedSchedule(sid);" style="font-size: 15px; margin-left: 50px; font-family: Roboto-Medium,sans-serif; color: darkred;" class="clickable">
                        <i class="fa fa-trash"></i> &nbsp; DELETE
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="overlayShow.pages[overlays.viewDrafts]">
            <div class="overlayTitleBar">
                <div class="overlayTitle">Draft Schedules</div>
                <div class="overlayClose">
                    <i class="fa fa-close" ng-click="closeOverlay()"></i>
                </div>
            </div>
            <div class="overlayContent">
                <div class="scheduleBlock" ng-repeat="schedule in myDraftSchedules">
                    {{ schedule.name }} <br>
                    <span style="font-size: 15px; color: steelblue;">Saved at {{ schedule.timeSaved | date:"hh:mm:ss a on dd/MM/yyyy" }}</span>
                </div>
            </div>
        </div>

    </div>

</div>